@model PagedList.IPagedList<ShopManagement.DTO.Response.OrderResponseDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        @*<a href="@Url.Action("Create", "orders")" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create Order</a>*@
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Orders List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Phone number
                            </th>
                            <th>
                                Address Shipping
                            </th>
                            <th>
                                Country Name
                            </th>
                            <th>
                                City Name
                            </th>
                            <th>
                                District Name
                            </th>
                            <th>
                                Ward Name
                            </th>
                            <th>
                                Note
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot class="thead-dark">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Phone number
                            </th>
                            <th>
                                Address Shipping
                            </th>
                            <th>
                                Country Name
                            </th>
                            <th>
                                City Name
                            </th>
                            <th>
                                District Name
                            </th>
                            <th>
                                Ward Name
                            </th>
                            <th>
                                Note
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th>
                                @Html.DisplayFor(model => item.id)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.customer_name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.phone_number)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.address_shipping)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.country_name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.city_name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.district_name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.ward_name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.note)
                            </th>
                            <td>
                                @*<a href="@Url.Action("Edit", "orders", new { id = item.id })" class="btn btn-info">
                <span class="fa fa-edit"></span> Edit
            </a>*@
                                <button type="button" class="btn btn-info" onclick="viewDetail(@item.id)">
                                    <span class="fa fa-eye"></span> Details
                                </button>
                                <a href="@Url.Action("Delete", "orders", new { id = item.id })" class="btn btn-danger">
                                    <span class="fa fa-trash"></span> Delete
                                </a>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</div>

<div id="itemModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        // Shorthand for $( document ).ready()
        $(function () {

        });
        function viewDetail(id) {
            $.ajax({
                method: "GET",
                url: "@Url.Action("Details", "orders")",
                data: { id: id }
            })
                .done(function (data) {
                    console.log(data);
                    $(".modal-content").html(data);
                });
            $("#itemModal").modal("show");
        }
    </script>
}

